@{
    ViewData["Title"] = "O aplikaci";
}

<section>
    <h1>O aplikaci</h1>
    <p>
        Vítejte v aplikaci pro evidenci pojištění, která slouží jako závěrečný projekt k rekvalifikaci programátor webových aplikací.
    </p>

    <p>
        V aplikaci naleznete databázi pojištěnců, pojištěných a pojistných událostí.
    </p>

    <h3>Tato aplikace je nedokončená</h3>
</section>
